body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4A99D7;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.fasilitas {
    padding: 20px;
    text-align: center;
}

.fasilitas h2 {
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.gallery-item p {
    padding: 10px;
    text-align: center;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4A99D7;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Styling for the Visi dan Misi sections */
.visi-misi {
    background-color: #f8f9fa;
    padding: 30px 0;
    text-align: center;
}

.visi-misi h2 {
    font-size: 30px;
    color: #4a99d7;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Menata header dan navigasi */
header {
    display: flex;
    justify-content: space-between; /* Membuat ruang antara elemen */
    align-items: center; /* Menyusun elemen secara vertikal tengah */
    padding: 20px;
    background-color: #4a99d7;
    color: white;
}

header h1 {
    font-size: 24px;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.btn-login {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #ff6f61;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #ff9a8b;
}

